---
services:
  # uptime-kuma:
  #   image: louislam/uptime-kuma:${UPTIME_VER:-latest}
  #   container_name: uptime-kuma
  #   volumes:
  #       - uptime-kuma:/app/data
  #   ports:
  #       - 3001:3001
  #   restart: unless-stopped
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '0.5' # Limits the service to 50% of one CPU core
  #         memory: 2048M # Sets a memory limit of 2Gb
  #       reservations:
  #         cpus: '0.25' # Guarantees 25% of one CPU core
  #         memory: 1024M # Reserves 1Gb of memory

  ntfy:
    image: binwiederhier/ntfy:${NTFY_VER:-latest}
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=Australia/Brisbane    # optional: set desired timezone
      - NTFY_BASE_URL=http://${TRAEFIK_HOST}
      - NTFY_BEHIND_PROXY=false
      - NTFY_LISTEN_HTTP=:${NTFY_PORT}
      #- NTFY_CACHE_FILE=/var/lib/ntfy/cache.db
      - NTFY_CACHE_FILE=/var/cache/ntfy/cache.db
      - NTFY_CACHE_DURATION=24h
    #user: UID:GID # optional: replace with your own user/group or uid/gid
    volumes:
      - ntfy-cache:/var/cache/ntfy
      - ntfy:/etc/ntfy
    ports:
      - 80:${NTFY_PORT}
    healthcheck: # optional: remember to adapt the host:port to your environment
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:${NTFY_PORT}/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed, if healthcheck is used. Prevents zombie processes
    deploy:
      resources:
        limits:
          cpus: '0.5' # Limits the service to 50% of one CPU core
          memory: 2048M # Sets a memory limit of 2Gb
        reservations:
          cpus: '0.25' # Guarantees 25% of one CPU core
          memory: 1024M # Reserves 1Gb of memory

volumes:
  # uptime-kuma:
  ntfy-cache:
  ntfy: